@import '_normalize';
@import '_vars';

html {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing: $baseFontSize;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing:    inherit;
    box-sizing:        inherit;
}

html, body, #main-container {
	height: 100%;
}

#main-container {
	background:$bg;
	overflow:hidden;
	overflow-y:scroll;
}

@import '_mediumSize';
@import '_largeSize';